# Example dev user environment file
# Copy and rename this file to env.user
# Edit env.user. Uncomment and update the variables below with desired values
# Use exclamations as environment variable values

# Path to the python binary folder
#pythonpath=!USERPROFILE!\AppData\Local\Programs\Python\Python310

# Path to the perl binrary folder
#perlpath=!USERPROFILE!\Downloads\strawberry-perl-5.32.1.1-64bit-portable\perl\bin

# Alter PATH variable
#PATH=!pythonpath!;!perlpath!;!PATH!

# Server port number
#SERVERPORT=8080
